[submodule "references/opentelemetry-specification"]
	path = references/opentelemetry-specification
	url = https://github.com/open-telemetry/opentelemetry-specification.git
[submodule "references/opentelemetry-erlang"]
	path = references/opentelemetry-erlang
	url = https://github.com/open-telemetry/opentelemetry-erlang.git
[submodule "references/opentelemetry-proto"]
	path = references/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "references/semantic-conventions"]
	path = references/semantic-conventions
	url = https://github.com/open-telemetry/semantic-conventions.git
[submodule "references/weaver"]
	path = references/weaver
	url = https://github.com/open-telemetry/weaver
[submodule "references/w3c-trace-context"]
	path = references/w3c-trace-context
	url = https://github.com/w3c/trace-context
[submodule "references/w3c-baggage"]
	path = references/w3c-baggage
	url = https://github.com/w3c/baggage
[submodule "references/erlang-otp"]
	path = references/erlang-otp
	url = https://github.com/erlang/otp.git
