{%- macro func_name(text) -%}
  {{ text | acronym | replace(".", "_") | lower }}
{%- endmacro -%}

{%- macro file_name(id) -%}
  {{ id | acronym | replace(".", "_") | lower }}
{%- endmacro -%}

{%- macro to_atom(text) -%}
{% if text | split_id | length > 1 -%}:"{{ text }}"{%- else -%}:{{ text }}{%- endif %}
{%- endmacro -%}

{%- macro enum_value_to_elixir_type(value) -%}
  {%- if value is string %}{{ to_atom(value) }}{% else -%}{{ value }}{%- endif %}
{%- endmacro -%}

{%- macro enum_to_map(members) -%}
{%- set stable_members = members | selectattr("stability", "equalto", "stable") | list -%}
  {% raw %}%{{% endraw %}
  {% for member in stable_members %}
    {{ to_atom(member.id) }} => {{ enum_value_to_elixir_type(member.value) }}{% if not loop.last %},{% endif %}
  {% endfor %}
  {% raw %}}{% endraw %}
{%- endmacro -%}

{%- macro first_stable_member(members) -%}
{%- set stable_members = members | selectattr("stability", "equalto", "stable") | list -%}
{{ stable_members | first | attr("id") }}
{%- endmacro -%}

{%- macro first_stable_member_value(members) -%}
{%- set stable_members = members | selectattr("stability", "equalto", "stable") | list -%}
{{ enum_value_to_elixir_type(stable_members | first | attr("value")) }}
{%- endmacro -%}

{%- macro strong_reqs(string) -%}
  {{ string | replace(" MUST ", " **MUST** ") | replace(" MUST NOT ", " **MUST NOT** ") | replace(" SHOULD ", " **SHOULD** ") | replace(" SHOULD NOT ", " **SHOULD NOT** ") |  replace(" MAY ", " **MAY** ") }}
{%- endmacro -%}
